{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Fundamentos Matemáticos</h1>
        <p>La asignatura de Fundamentos Matemáticos para Computación se centra en proporcionar a los estudiantes de la carrera de Robótica e Inteligencia Artificial las bases matemáticas esenciales para comprender, analizar y resolver problemas en el ámbito de la informática y la computación. A través de esta materia, se busca establecer una sólida fundamentación matemática que permita abordar de manera eficiente y precisa los desafíos computacionales presentes en la actualidad.

            Los temas principales abordados incluyen álgebra básica, ecuaciones lineales, álgebra lineal, entre otros. Estos conceptos proporcionarán la base necesaria para comprender algoritmos, estructuras de datos, análisis de algoritmos y otros aspectos esenciales de la ciencia de la computación.</p>

    </section>
</main>

{% endblock %}