{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% style 'css/stylesp.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singup</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="image-container">
                <img src="{% static 'pictures/img_1_11zon.jpg' %}" alt="">
            </div>
            <div class="form-container">
                <form method="POST" class="card card-body">
                    <h1 class="text-center">Singup</h1>
                    {{error}}
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username" class="form-control"
                            placeholder="Write your username">
                    </div>

                    <div class="mb-3">
                        <label for="password1">Password:</label>
                        <input type="password" name="password1" id="password1" class="form-control"
                            placeholder="Write your password">
                    </div>

                    <div class="mb-3">
                        <label for="password2">Confirm your password:</label>
                        <input type="password" name="password2" id="password2" class="form-control"
                            placeholder="Confirm your password">
                    </div>
                    <div class="center-container">
                        <button class="btn btn-dark">
                            Singup
                        </button>
                    </div>
                    <p>
                        Are you registed?, Join here to <a href=" / ">login</a>
                    </p>
                    <div class="image-gallery">
                        <div class="social-button">
                            <a href="https://www.facebook.com/universidadcatolicacuenca">
                                <img src="{% static 'pictures/fb.png' %}">
                            </a>
                        </div>
                        <div class="social-button">
                            <a href="https://www.youtube.com/@UCatolicaCuenca1">
                                <img src="{% static 'pictures/yt.png' %}">
                            </a>
                        </div>
                        <div class="social-button">
                            <a href="https://www.instagram.com/ucatolicacuenca/">
                                <img src="{% static 'pictures/ig.png' %}">
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>

</html>


{% endblock %}