{% extends 'home.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% style 'css/style4.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trinomio Cuadrado Perfecto</title>

</head>

<body>
    <section>
        <h1>Trinomio Cuadrado Perfecto</h1>
        <p class="p1">
            Un trinomio cuadrado perfecto es una expresión que puede escribirse como el cuadrado de un binomio. Esto
            significa que hay una relación específica entre los términos que permite factorizar de una manera
            particular. Es como reconocer una forma especial en un trinomio.
        </p>
    </section>
    <section>
        <div class="div1">
            <h2>Caculadora</h2>
            <P><b>Ingrese dos numeros</b></P>
            <form method="post">
                {% csrf_token %}
                <label for="number1">Número 1:</label>
                <input type="number" name="number1" id="number1"><br><br>
                <label for="number2">Número 2:</label>
                <input type="number" name="number2" id="number2"><br><br>
                <button type="submit">Calcular trinomio cuadrado perfecto</button>
                <br>
            </form>
            {% if trinomio_cuadrado_perfecto %}
            <p> {{ trinomio_cuadrado_perfecto }}</p>
            {% endif %}
        </div>
    </section>
    <section>
        <div class="div2">
            <h3>Instrucciones</h3>
            <p class="p2">Para utilizar este usted tiene que ingresar dos numeros sin ninguna letra. <br>Para realizar
                el trinomio
                cuadrado
                perfecto vamos a utilizar la formula:</p>
            <img class="img1" src="{% static 'pictures/trinomio.jpg' %}" alt="">
        </div>
    </section>
</body>

{% endblock %}